/* #parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#buttonContainer {
  margin: 10px;
}

#tableContainer {
  margin: 10px;
}

table {
  border: 2px black solid;
}

th,
td {
  border: 2px grey solid;
} */
