#parent{
    display: flex;
    flex-direction: column;
    height: 300px;
    /* background-color: aquamarine; */
}

.load-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.loadbutton{
    height: 2rem;
}

#load{
    display: inline;
}
#reload{
    display: none;
}

button{
    margin: auto;
}
table, th, td{
    border: 1px solid #333;
}


thead {
    background-color: rgb(206, 195, 195);
    color: rgb(15, 13, 13);
}
